<!DOCTYPE html>
<html>
  <head>
    <title>Carnival</title>
    <%= csrf_meta_tags %>
    <%= favicon_link_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'nav' %>
    <div class="container-fluid">
      <div class="row">
        <div class="col">
          <div style="margin-bottom: 100px;">
            <%= render 'alerts' %>
            <%= yield %>
          </div>
        </div>
      </div>
    </div>
    <%= render 'footer' %>
  </body>
</html>
